* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home-section{
    padding-bottom: 160px;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    color: inherit;
    font: inherit;
    text-decoration: none;
}

img{
    width: 100%;
}

button {
    display: block;
    border: none;
    font: inherit;
    border-radius: 10px;
    font: 700 17px 'DM Sans', Arial, sans-serif;
    cursor: pointer;
    color: white;
    transition: 4s; 
    width:210px;
    padding: 20px 0;
}

body{
    padding: 0 5px;
    font: 700 20px 'DM Sans', Arial, sans-serif;;
    color:#696871;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.hidden{
    display: none;
}

#header-main{
    padding: 30px 0 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 200px;
}

.nav-main{
    display: flex;
    justify-content: space-between;
}

.nav-main>li{
    margin-right: 50px;
    position: relative;
    font-size: 15px;
    color:#696871;
    transition: 3s;
}
.nav-main>li:hover{
    color: #19191b;
}
.nav-main_item-checked>a{
    color: #19191b;
}

.nav-main_item-checked::after,
.nav-main>li:hover::after{
    position: absolute;
    bottom: -10px;
    content: '';
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5454D4;
}
.nav-main>li:last-child{
    margin-right: 0;
}

.header-btn{
    background-color: #FF7143;
}

.header-btn:hover{
    background-color: #EE5423;
}


.home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-left{
   
    width: 460px;
}

.home-left>b{
    color: #19191b;
    font-size: 80px;
    line-height: 77px;
    margin-bottom: 30px;
    display: block;
    font-family: "DT Sans", Arial, sans-serif;
    font-weight: 700;
    display: block;
}
.home-left>p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Mulish", Arial, sans-serif;
    line-height: 30px;
    margin-bottom: 50px;
    display: block;
}
.home-right{
    position: relative;  
    width: 610px;
    height: 644px;
}
.home-right>img{
    position: absolute;
    left: 60px;
}
.partners>ul{
    display: flex;
    justify-content: space-between;
}

.home-nav>button{
    width: 210px;
    background-color: #5454D4;
    
}

.home-nav>button:hover{
    background-color: #5454D4;
}